asgiref==3.7.2
colorama==0.4.6
coverage==7.2.7
Django==3.2.20
django-cors-headers==4.0.0
django-restframework==0.0.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
iniconfig==2.0.0
packaging==23.1
pluggy==1.0.0
psycopg2==2.9.6
pytest==7.3.1
pytest-django==4.5.2
python-decouple==3.8
pytz==2023.3
sqlparse==0.4.4
tzdata==2023.3
