.grid {
    gap: 3rem;
    width: 100%;
    margin-top: 1.5rem;
}

.grid h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.sectionUser {
    border: 1px solid grey;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    margin-top: .6rem;
}

.sectionContainers {
    border-right: 1px solid #9B9B9B;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.sectionContainers:last-child {
    border-right: none;
}

.sectionContainers p {
    color: #1A1A1A;
}

.sectionInformations {
    border: 1px solid grey;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    margin-top: .6rem;
    margin-bottom: 2rem;
}

.sectionInformations h2 {
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    font-weight: 400;
    font-size: 1.5rem;
    border-bottom: 1px solid grey;
}

.navInformations {
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem;
    border-bottom: 1px solid gray;
}

.navInformations p {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table tr {
    border-top: 1px solid grey;
    padding: 1rem;
}

table tr:first-child {
    border-top: none;
}

th, td {
    padding: 0.6rem;
    text-align: center;
}

.itemSelecionado {
    color: #587D4A;
}

.containerButton {
    margin: auto;
    width: 40%;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.containerButton p {
    font-weight: bold;
}

.button {
    background-color: #587D4A;
    color: #F8F7F7;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    opacity: 1;
    cursor: pointer;
    width: 10rem;
}

.button:hover {
    background-color: #60924e;
}