@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

.grid {
    gap: 3rem;
    width: 100%;
}

.grid h1 {
    font-weight: 400;
    font-size: 1.5rem;
}

.section {
    border-radius: 15px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    margin-top: 1.5rem;
    width: 100%;
}

.containerCalendar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar {
    min-width: 100%;
    border-radius: 10px;
}

.sectionUser {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.sectionUser > div > label {
    font-weight: bold;
    margin-left: .7rem;
}

.textArea{ 
    border-radius: 10px;
    width: 100%;
}

.textArea::placeholder {
    font-size: .9rem;
    padding: 0.3rem 0 0 0.5rem;
}

.input_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: #587D4A;
    color: #F8F7F7;
    border: none;
    padding: .8rem 2rem;
    border-radius: 10px;
    opacity: 1;
    cursor: pointer;
    width: 30%;
}

.button:hover {
    background-color: #60924e;
}